<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="/register" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" required>
        <label for="password">Password: </label>
        <input type="password" name="password" required>
        <label for="name">Name: </label>
        <input type="text" name="name" required>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" required>
        <label for="birthday">Birthday: </label>
        <input type="date" name="birthday" required>
        <button type="submit">Register</button>
    </form>
    <h5>
        <%= error %>
    </h5>
</body>

</html>